[data-md-color-scheme="slate"] {
    --md-primary-fg-color: #4D5F8D;
    --md-primary-fg-color--light: #3D71C0;
    --md-primary-fg-color--dark: #283755;
    --md-accent-fg-color: #28BE91;
    --md-accent-fg-color--light: #DBF4EA;
    --md-accent-fg-color--dark: #1C8968;
}

[data-md-color-scheme="mmt"] {
    --md-primary-fg-color: #4D5F8D;
    --md-primary-fg-color--light: #3D71C0;
    --md-primary-fg-color--dark: #283755;
    --md-accent-fg-color: #28BE91;
    --md-accent-fg-color--light: #DBF4EA;
    --md-accent-fg-color--dark: #1C8968;
}

/* Adjust width of the navigation sidebar */
.md-sidebar .md-nav {
    width: 300px;
    /* Adjust the width as needed */
}

.md-sidebar .md-nav__link--active {
    font-weight: bold;
}